.newExpense {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #372d5a;
  padding: 1rem;
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid rgb(32, 31, 31);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.newExpense button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #77229e;
  background-color: #77229e;
  color: white;
  border-radius: 6px;
  width: 20rem;
  max-width: 100%;
  margin: 1rem auto;
}

.newExpense button:hover,
.newExpense button:active {
  background-color: #510674;
  border-color: #510674;
}

.newExpense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.newExpense button.alternative:hover,
.newExpense button.alternative:active {
  background-color: #ddb3f8;
}
